## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sample_list_1=random.sample(range(100),k=80)

print(sample_list_1)

[70, 74, 10, 85, 45, 16, 6, 14, 32, 30, 47, 67, 15, 50, 21, 60, 11, 48, 82, 19, 84, 54, 49, 20, 92, 59, 27, 22, 4, 55, 12, 29, 52, 76, 83, 91, 99, 9, 61, 72, 24, 37, 96, 97, 26, 73, 93, 35, 71, 58, 5, 63, 31, 66, 41, 77, 57, 17, 1, 62, 64, 56, 79, 98, 34, 44, 80, 81, 36, 28, 65, 18, 87, 88, 94, 75, 0, 95, 25, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [5]:
set1=set(sample_list_1)

print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [11]:
sample_list_2=[]
for num in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[8, 63, 60, 64, 61, 55, 23, 0, 77, 24, 38, 88, 12, 44, 91, 19, 17, 36, 99, 9, 28, 50, 21, 21, 14, 85, 63, 41, 69, 99, 14, 94, 50, 50, 11, 85, 15, 83, 68, 95, 49, 53, 7, 37, 38, 93, 44, 32, 10, 91, 17, 91, 5, 88, 5, 47, 29, 98, 98, 45, 42, 88, 31, 70, 77, 46, 91, 96, 31, 66, 59, 8, 73, 80, 58, 47, 84, 61, 26, 91]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [13]:
set2=set(sample_list_2)
print(set2)
print(len(set2))

{0, 5, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 21, 23, 24, 26, 28, 29, 31, 32, 36, 37, 38, 41, 42, 44, 45, 46, 47, 49, 50, 53, 55, 58, 59, 60, 61, 63, 64, 66, 68, 69, 70, 73, 77, 80, 83, 84, 85, 88, 91, 93, 94, 95, 96, 98, 99}
57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [16]:
set3=set1-set2

print(set3)

{1, 2, 3, 4, 6, 18, 20, 25, 27, 30, 33, 34, 35, 39, 40, 43, 48, 51, 52, 54, 56, 65, 67, 72, 75, 76, 78, 79, 82, 86, 87, 90, 92, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [17]:
set4=set2-set1
print(set4)

{32, 66, 98, 38, 70, 14, 84, 24, 88, 61, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [20]:
set5=set1.intersection(set2)
print(set5)
print(len(set5))

{0, 5, 7, 8, 9, 10, 11, 12, 15, 17, 19, 21, 23, 26, 28, 29, 36, 37, 41, 42, 44, 45, 46, 47, 49, 50, 53, 55, 58, 59, 60, 63, 64, 68, 69, 73, 77, 80, 83, 85, 91, 93, 94, 95, 96, 99}
46

#### (Optional) What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a formula to represent that relationship. Test your formula with Python code.

In [31]:
print(len(set1),len(set2),len(set3),len(set4),len(set5))

#len(set3)=len(set1)-len(set2)+len(set2-set1)

# We made set3 by the elements present in set1 but not set2. However we can't just subtract the length of the
# the two sets from each other as we don't account for the values present in set2 but not set1.
# Therefore we plus the lenght of the set that is set2-set1, giving the lenght of set3.

print(len(set3)==len(set1)-len(set2)+len(set2-set1))

# len(set1)=len(set3)+len(set5)

# len(set2)=len(set4)+len(set5)

80 57 34 11 46
True

#### Create an empty set called `set6`.

In [ ]:
# Your code here

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [ ]:
# Your code here

#### Check if `set1` and `set6` are equal.

In [ ]:
# Your code here

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [ ]:
# Your code here

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [ ]:
# Your code here

#### Using the `pop` method, remove an element from `set1`.

In [ ]:
# Your code here

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here